In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd

data = {
    'age': ['<=30', '<=30', '31...40', '>40', '>40', '>40', '31...40', '<=30', '<=30', '>40', '<=30', '31...40', '31...40'],
    'income': ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'high', 'medium'],
    'student': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'no'],
    'credit_rating': ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'fair', 'fair'],
    'buys_computer': ['no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}

df = pd.DataFrame(data)
print(df)

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair            no
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair           yes
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40    high      no          fair           yes
12  31...40  medium      no          fair            no

### Question 2

In [3]:
total_instances = df.shape[0]

class_counts = df['buys_computer'].value_counts()

class_priors = class_counts / total_instances
print(class_priors)

yes    0.615385
no     0.384615
Name: buys_computer, dtype: float64

In [4]:
#Initiliasing a dictionary for class conditional density
class_conditional_densities = {}

#Calculating class conditional density
for feature in df.columns[:-1]:
    for class_value in df['buys_computer'].unique():
        class_conditional_densities[(feature, class_value)] = df[df['buys_computer'] == class_value][feature].value_counts(normalize=True)
        
#Printing class conditional density for all the attributes
print(class_conditional_densities)

# Observe if any class conditional density has zero values
zero_values_found = False
for feature, class_value in class_conditional_densities:
    if 0 in class_conditional_densities[(feature, class_value)]:
        zero_values_found = True
        break
        
#If class conditional densities have zero values print it
if zero_values_found:
    print("Class conditional densities contain zero values.")
    
#If class conditional densities do not have zero values print it
else:
    print("Class conditional densities do not contain zero values.")

{('age', 'no'): <=30       0.4
>40        0.4
31...40    0.2
Name: age, dtype: float64, ('age', 'yes'): 31...40    0.375
<=30       0.375
>40        0.250
Name: age, dtype: float64, ('income', 'no'): high      0.4
low       0.4
medium    0.2
Name: income, dtype: float64, ('income', 'yes'): medium    0.50
high      0.25
low       0.25
Name: income, dtype: float64, ('student', 'no'): no     0.6
yes    0.4
Name: student, dtype: float64, ('student', 'yes'): no     0.5
yes    0.5
Name: student, dtype: float64, ('credit_rating', 'no'): fair         0.6
excellent    0.4
Name: credit_rating, dtype: float64, ('credit_rating', 'yes'): fair         0.75
excellent    0.25
Name: credit_rating, dtype: float64}
Class conditional densities do not contain zero values.

### Question 3

In [5]:
contingency_table = pd.crosstab(index=[df['age'], df['income'], df['student']], columns=df['credit_rating'])
print(contingency_table)

credit_rating           excellent  fair
age     income student
31...40 high   no               0     2
        low    yes              1     0
        medium no               0     1
<=30    high   no               1     1
        low    yes              0     1
        medium no               0     1
               yes              1     0
>40     low    yes              1     1
        medium no               0     1
               yes              0     1

In [6]:
from scipy.stats import chi2_contingency

# Performing chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table)
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")

Chi-square statistic: 8.305555555555555
P-value: 0.503670997708668

### Question 4

In [8]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame

# Convert categorical variables to numerical labels
label_encoder = LabelEncoder()
for column in df.columns:
    df[column] = label_encoder.fit_transform(df[column])
    
# Separating features (X) and target variable (y)
X = df.drop('buys_computer', axis=1)
y = df['buys_computer']

# Splitting the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Building the Naïve-Bayes classifier
model = GaussianNB()

# Training the model
model.fit(x_train, y_train)

# Predicting on the test set
y_preds = model.predict(x_test)

# Evaluating the model
accuracy = model.score(x_test, y_test)
print(f"Accuracy of the Naïve-Bayes classifier: {accuracy}")

Accuracy of the Naïve-Bayes classifier: 0.6666666666666666

In [12]:
from sklearn.metrics import accuracy_score
df = pd.read_csv('MAlayalam_char_glcm_features.csv')
df.drop("fname",axis=1,inplace=True)
df.head(3)

,dissimilarity_0,dissimilarity_45,dissimilarity_90,dissimilarity_135,correlation_0,correlation_45,correlation_90,correlation_135,homogeneity_0,homogeneity_45,...,contrast_135,ASM_0,ASM_45,ASM_90,ASM_135,energy_0,energy_45,energy_90,energy_135,label
0,17.216435,21.119725,20.889887,21.543330,0.491436,0.390284,0.389736,0.378055,0.932486,0.917179,...,5493.549025,0.804286,0.788199,0.790551,0.786816,0.896820,0.887806,0.889129,0.887027,3333
1,12.143708,15.748918,14.495192,15.859307,0.504656,0.375442,0.414030,0.371065,0.952378,0.938240,...,4044.123377,0.858505,0.843167,0.849379,0.842788,0.926556,0.918241,0.921618,0.918035,3333
2,17.216435,21.119725,20.889887,21.543330,0.491436,0.390284,0.389736,0.378055,0.932486,0.917179,...,5493.549025,0.804286,0.788199,0.790551,0.786816,0.896820,0.887806,0.889129,0.887027,3333

In [13]:
x = df.drop("label", axis=1)
y = df["label"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

nb_model = GaussianNB()
nb_model.fit(x_train,y_train)
y_preds = nb_model.predict(x_test)
accuracy = accuracy_score(y_test, y_preds)
#printing the accuracy
print(f"Accuracy: {accuracy}")

Accuracy: 0.303951367781155